.offerButton {
  flex: 2 1 auto;
  background-color: #ff5700; /* L Actualite Color */
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  width: 200px;
  border: 1px solid #ff5700!important;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  font-style: normal;
  font-family: 'fieldwork';
  font-weight: 800;
  cursor: pointer;
  line-height: normal;
}

.offerButton:hover{
  background-color: #ffe7db; /* L Actualite Color */
  border: 1px solid #ff5700!important;
  color: #ff5700;
}
