.offerButton {
  /* ----------Properties to update--------------  */
  background-color: #ffe7db; /* Actualite Color */
  /*  background-color: white; */ /* Simbud Color */
  color: #ff5700; /* Actualite Color */
 /*color: black; /* Simbud Color */
 border: 1px solid #ff5700!important; /* Actualite color */
 /* border: 1px solid black!important; /* Simbud color */
    /* -------------- End properties to update -------------- */

  flex: 2 1 auto;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  text-decoration: none;
  width: 200px;
  max-width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  font-style: normal;
  font-family: 'fieldwork';
  font-weight: 800;
  cursor: pointer;
  line-height: normal;
}

.offerButton:hover{
    /* ----------Properties to update--------------  */

    background-color: #ff5700; /* Actualite Color */
    /* background-color: #00c853; /* Simbud Color */
     border: 1px solid #ff5700!important; /* Actualite Color */
   /* border: 1px solid #00c853!important;  /* Simbud Color */

    /* -------------- End properties to update -------------- */
    
    color: #fff;
}

.offerButton[disabled]{
  background-color: #666;
  border: 0px !important;
  color: #fff;
  cursor: unset;
}