.offerButton {
  background-color: var(--background-color-light); 
  color: var(--hover-font-color);
  border: var(--border-color);

  flex: 2 1 auto;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  text-decoration: none;
  width: 200px;
  max-width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  font-style: normal;
  font-family: 'fieldwork';
  font-weight: 800;
  cursor: pointer;
  line-height: normal;
}

.offerButton:hover{
    background-color: var(--background-color); 
    border: var(--border-color);
    color: #fff;
}

.offerButton[disabled]{
  background-color: #666;
  border: 0px !important;
  color: #fff;
  cursor: unset;
}