.proposal_plans{
    align-self: normal;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offersNCurrencyContainer {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
}
