.proposal_plans{
    align-self: normal;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 290px));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offersNCurrencyContainer {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
}

.resetButton{
    background-color: rgb(255, 87, 0); /* L Actualite Color */
    border-radius: 100px;
    border: 1px;
    width: 100px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-family: 'fieldwork';
    font-weight: 700;
    padding: 20px 20px;
    margin-left: 15px;
    color: #ffff;
    text-decoration: none;
}
